.stdin {
  width: 100%;
  font-size: 1.4rem;
  border: none;
  background-color: transparent;
  color: green;
}

.canvas-container {
  border: 0.2rem solid black;
}

.fullwidthpane {
  flex: calc(100% / 1);
  width: 100%;
  min-width: calc(100% / 1);
  max-width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.halfwidthpane {
  flex: calc(100% / 2);
  width: 100%;
  min-width: calc(100% / 2);
  min-height: 100%;
  max-width: 100%;
  height: calc(100vh / 1);
  max-height: calc(100vh / 1);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidepane {
  display: flex;
  flex: calc(100% / 2);
  max-width: calc(100% / 2);
  width: calc(100% / 2);
  min-width: calc((100% / 1) - 5%);
  max-height: calc((100% / 1) - 15%);
  height: calc((100% / 1) - 30%);
  min-height: calc((100% / 1) - 30%);
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
  /* border-radius: 1rem; */
  /* box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); */
  background: transparent;
  font-weight: lighter;
  margin-top: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.sidepane::before {
  background: var(--secondary-glow);
  opacity: 50%;
  border-radius: 50%;
  width: 50%;
  max-width: 50%;
  height: 50%;
  max-height: 50%;
  animation-name: sidepaneglow-green;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.sidepane::after {
  background: var(--primary-glow);
  opacity: 50%;
  border-radius: 50%;
  width: 50%;
  max-width: 50%;
  height: 50%;
  max-height: 50%;
  animation-name: sidepaneglow-blue;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.sidepane::before,
.sidepane::after {
  content: '';
  position: absolute;
  filter: blur(4rem);
  transform: translateZ(0);
  z-index: -1;
}

.bitstomagic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--sans-serif-font);
  font-weight: lighter;
  width: 100%;
  min-height: 20%;
  background: transparent;
}

.typewriter {
  font-weight: lighter;
  font-size: 1.6rem;
  font-family: var(--monospace-font);
}

.cursor {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  animation-name: blinking-cursor;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.domains {
  font-weight: lighter;
  font-size: 2rem;
  padding: 0rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

@media (min-width: 640px) {
  .cursor {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    animation-name: blinking-cursor;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  .typewriter {
    font-weight: lighter;
    font-size: 2rem;
    font-family: var(--monospace-font);
  }
  .domains {
    font-weight: lighter;
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .cursor {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    animation-name: blinking-cursor;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  .typewriter {
    font-weight: lighter;
    font-size: 2rem;
    font-family: var(--monospace-font);
  }
  .domains {
    font-weight: lighter;
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .cursor {
    font-weight: bold;
    font-size: 3.75rem;
    text-align: center;
    animation-name: blinking-cursor;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  .typewriter {
    font-weight: lighter;
    font-size: 2.5rem;
    font-family: var(--monospace-font);
  }
  .domains {
    font-weight: lighter;
    font-size: 2.5rem;
  }
}
@media (min-width: 1280px) {
  .cursor {
    font-weight: bold;
    font-size: 4.5rem;
    text-align: center;
    animation-name: blinking-cursor;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  .typewriter {
    font-weight: lighter;
    font-size: 3rem;
    font-family: var(--monospace-font);
  }
  .domains {
    font-weight: lighter;
    font-size: 3rem;
  }
}
@media (min-width: 1536px) {
  .cursor {
    font-weight: bold;
    font-size: 4.5rem;
    text-align: center;
    animation-name: blinking-cursor;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  .typewriter {
    font-weight: lighter;
    font-size: 3rem;
    font-family: var(--monospace-font);
  }
  .domains {
    font-weight: lighter;
    font-size: 3rem;
  }
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.introductionsection {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.introductionquotes {
  font-style: oblique;
}

.technologies {
  margin-top: 2rem;
}

.technologieslist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  width: 100%;
  font-family: var(--monospace-font);
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
}

.technology {
  border: 0.2rem solid var(--header-and-footer-border);
  border-radius: 0.5rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  background: var(--background-opaque);
  /* backdrop-filter: blur(4rem); */
}

.technologytitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.technologytitle svg {
  height: 1.4rem;
  width: 1.4rem;
  margin-right: 0.5rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0rem 0;
}

.logo img {
  margin: var(--standard-margin);
  max-width: 75%;
  height: auto;
  object-fit: cover;
  border: none;
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
}

@media (prefers-color-scheme: dark) {
  .logo img {
    margin: var(--standard-margin);
    max-width: 75%;
    height: auto;
    object-fit: cover;
    border: none;
    filter: drop-shadow(0 25px 25px rgb(255 255 255 / 0.15));
  }
}

.logo::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 80%;
  max-width: 80%;
  height: 80%;
  max-height: 80%;
  animation-name: sidepaneglow-green;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.logo::after {
  background: var(--primary-glow);
  border-radius: 50%;
  width: 80%;
  max-width: 80%;
  height: 80%;
  max-height: 80%;
  animation-name: sidepaneglow-blue;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.logo::before,
.logo::after {
  content: '';
  position: absolute;
  filter: blur(4rem);
  transform: translateZ(0);
  z-index: -1;
}

@keyframes float {
  from {
    filter: drop-shadow(0 0 #0000);
  }

  to {
    filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
  }
}

@keyframes rotateglow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes sidepaneglow-blue {
  0% {
    transform: rotate(0deg);
    transform: scale(0.5);
  }

  25% {
    transform: rotate(0deg);
    transform: scale(0.75);
  }

  50% {
    transform: rotate(0deg);
    transform: scale(1.5);
  }

  75% {
    transform: rotate(0deg);
    transform: scale(0.75);
  }

  100% {
    transform: rotate(360deg);
    transform: scale(0.5);
  }
}

@keyframes sidepaneglow-green {
  0% {
    transform: rotate(0deg);
    transform: scale(1.5);
  }

  25% {
    transform: rotate(0deg);
    transform: scale(0.75);
  }

  50% {
    transform: rotate(0deg);
    transform: scale(0.5);
  }

  75% {
    transform: rotate(0deg);
    transform: scale(0.75);
  }

  100% {
    transform: rotate(360deg);
    transform: scale(1.5);
  }
}

.tagline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0rem 0;
  margin-top: 1rem;
  font-size: 2rem;
  letter-spacing: -2px;
  font-family: var(--monospace-font);
  width: 100%;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0rem 0;
  margin-top: 1rem;
}

.contact a {
  border: 0.1rem solid var(--header-and-footer-border);
  border-radius: 0.6rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--button-background-end-rgb))) rgb(var(--button-background-start-rgb));
}

.contact a svg {
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
}

.contact a div {
  height: 2rem;
  width: 2rem;
  font-size: 1.75rem;
  margin-right: 0.25rem;
}

.contact a:link {
  color: var(--text);
  text-decoration: none;
  padding-left: var(--double-padding);
  padding-right: var(--double-padding);
  padding-top: var(--standard-padding);
  padding-bottom: var(--standard-padding);
  margin: var(--standard-padding);
  min-width: fit-content;
}

.contact a:visited {
  color: var(--text);
  text-decoration: none;
}

.contact a:hover {
  text-decoration: none;
  text-decoration-color: var(--text);
  box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  background: linear-gradient(to top,
      transparent,
      rgb(var(--button-background-end-rgb))) rgb(var(--button-background-start-rgb));
}

@media (min-width: 640px) {
  .halfwidthpane {
    flex: calc(100% / 2);
    width: 100%;
    min-width: calc(100% / 2);
    max-width: 100%;
    height: calc(100vh / 1);
    min-height: 100%;
    max-height: calc(100vh / 1);
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* .sidepane {
    display: flex;
    flex: calc(100% / 2);
    width: 100%;
    min-width: calc(100% / 2);
    min-height: 100%;
    max-width: 100%;
    height: calc(100vh / 1);
    width: calc(100% - (2 * 0.2rem));
    min-width: calc((100% / 2) - (2 * 0.2rem));
    max-width: calc(100% - (2 * 0.2rem));
    height: calc(100% - (2 * 0.2rem));
    overflow: scroll;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 0.2rem solid black;var(--header-and-footer-border);
    border-radius: 1rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    background: transparent;
    backdrop-filter: blur(4rem);
    font-weight: lighter;
  } */

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0rem 0;
    margin-top: 1rem;
  }

  .contact a {
    border: 0.1rem solid var(--header-and-footer-border);
    border-radius: 0.6rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    display: flex;
    flex-direction: row;
    background: linear-gradient(to bottom,
        transparent,
        rgb(var(--button-background-end-rgb))) rgb(var(--button-background-start-rgb));
  }

  .contact a svg {
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
  }

  .contact a:link {
    color: var(--text);
    text-decoration: none;
    padding-left: var(--double-padding);
    padding-right: var(--double-padding);
    padding-top: var(--standard-padding);
    padding-bottom: var(--standard-padding);
    margin: var(--standard-padding);
    min-width: fit-content;
  }

  .contact a:visited {
    color: var(--text);
    text-decoration: none;
  }

  .contact a:hover {
    text-decoration: none;
    text-decoration-color: var(--text);
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  }
}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {
  .contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0rem 0;
    margin-top: 1rem;
  }

  .contact a {
    border: 0.1rem solid var(--header-and-footer-border);
    border-radius: 0.6rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    display: flex;
    flex-direction: row;
    background: linear-gradient(to bottom,
        transparent,
        rgb(var(--button-background-end-rgb))) rgb(var(--button-background-start-rgb));
  }

  .contact a svg {
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
  }

  .contact a:link {
    color: var(--text);
    text-decoration: none;
    padding-left: var(--double-padding);
    padding-right: var(--double-padding);
    padding-top: var(--standard-padding);
    padding-bottom: var(--standard-padding);
    margin: var(--standard-padding);
    min-width: fit-content;
  }

  .contact a:visited {
    color: var(--text);
    text-decoration: none;
  }

  .contact a:hover {
    text-decoration: none;
    text-decoration-color: var(--text);
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  }
}

@media (min-width: 1536px) {
  .contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0rem 0;
    margin-top: 1rem;
  }

  .contact a {
    border: 0.1rem solid var(--header-and-footer-border);
    border-radius: 0.6rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    display: flex;
    flex-direction: row;
    background: linear-gradient(to bottom,
        transparent,
        rgb(var(--button-background-end-rgb))) rgb(var(--button-background-start-rgb));
  }

  .contact a svg {
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
  }

  .contact a:link {
    color: var(--text);
    text-decoration: none;
    padding-left: var(--double-padding);
    padding-right: var(--double-padding);
    padding-top: var(--standard-padding);
    padding-bottom: var(--standard-padding);
    margin: var(--standard-padding);
    min-width: fit-content;
  }

  .contact a:visited {
    color: var(--text);
    text-decoration: none;
  }

  .contact a:hover {
    text-decoration: none;
    text-decoration-color: var(--text);
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
  }
}