html {
    font-size: var(--base-font-size);
}

body,
header,
main,
article,
section,
footer,
table caption,
table td,
table th {
    padding: var(--standard-padding);
    margin: var(--standard-margin);
    max-width: none;
}