:root {
    --base-font-size: 16px;
    --standard-margin: 0 auto;
    --standard-padding: 0.5rem;
    --double-padding: calc(var(--standard-padding) * 2);
    --slim-padding: calc(var(--standard-padding) / 5);
    --background: #f8fafc;
    --background-opaque: #f8fafc99;
    --header-and-footer-border: #f1f5f9;
    --text: #0f172a;
    --sans-serif-font: 'Red Hat Text', sans-serif;
    --monospace-font: 'Red Hat Mono', monospace;
    --background-start-rgb: 248, 250, 252;
    --background-end-rgb: 248, 250, 252;
    --button-background-end-rgb: 226, 232, 240;
    --button-background-start-rgb: 248, 250, 252;
    --unused-primary-glow: conic-gradient(from 180deg at 50% 50%,
            #ffffff66 0deg,
            #3b82f666 15deg,
            #0ea5e966 45deg,
            #06b6d466 75deg,
            #14b8a666 105deg,
            #10b98166 135deg,
            #22c55e66 165deg,
            #ffffff66 195deg,
            #22c55e66 210deg,
            #10b98166 240deg,
            #14b8a666 270deg,
            #06b6d466 300deg,
            #0ea5e966 330deg,
            #3b82f666 360deg);
    --unused-secondary-glow: radial-gradient(rgba(248, 250, 252, 1),
            rgba(0, 0, 0, 0));
    --primary-glow: conic-gradient(from 180deg at 50% 50%,
            #ffffff66 15deg,
            #3b82f666 60deg,
            #0ea5e966 120deg,
            #06b6d466 165deg,
            #ffffff66 195deg,
            #06b6d466 240deg,
            #0ea5e966 300deg,
            #3b82f666 345deg);
    --secondary-glow: conic-gradient(from 180deg at 50% 50%,
            #ffffff66 15deg,
            #14b8a666 60deg,
            #10b98166 120deg,
            #22c55e66 165deg,
            #ffffff66 195deg,
            #22c55e66 240deg,
            #10b98166 300deg,
            #14b8a666 345deg);
    --tile-border: conic-gradient(#00000080,
            #00000040,
            #00000030,
            #00000020,
            #00000010,
            #00000010,
            #00000080);
}